html{
	background-image: url("kep/background.jpg");
	background-repeat: no-repeat;
    background-position: top;
}

body{
	background: transparent;
	color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	font-size: 20px;
}

.center{	
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 25%;
}

.center:hover{
	border: solid 1px black;
	box-shadow: 1px 1px black, 0 0 25px black, 0 0;
}

.buttons{
	text-decoration: none;
	color: black;
	padding: 10px;
	border-radius: 20px 5px;
	animation: colorchange 3s linear infinite;
}

@keyframes colorchange{
    0%{
		text-decoration: overline;
    }
    50%{
		text-decoration: underline overline;
    }
    100%{
		text-decoration: underline;
    }
}

.buttons:hover{
	box-shadow: 1px 1px black, 0 0 25px black, 0 0;
}

.title{
	text-decoration: underline;
	padding: 10px;
}

.result{
	padding: 10px;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 21px;
}

ul{
	text-align: left;
	font-size: 25px;
}

.divpic{
	rotate: 20deg;
}

.subject{
	border-style: outset;
	box-shadow: 1px 1px black, 0 0 25px black, 0 0;
}